.banner {
    background-image: url('../../assets/img/rectangle-987-2@1x.png');
    background-size: 100% 100%;
    overflow: scroll;
}

.input-box {
     
    padding-left: 12px;
}

@media only screen and (max-width: 450px) {
    .inputboxes {
        margin: 0px 0 0 -15%;
        width: 100%;
    }
}

@media only screen and (max-width: 700px) {
    .head {
        margin-top: -11%;
        line-height: 61px;
    }

    .banner {
        height: 1400px;
    }

    .inputboxes {
        margin: 0px 0 0 -48%;
        width: 100%;
    }

    .input-box {
        background: #D9D9D9;
        border: 2px solid #DDDDDD;
        border-radius: 5px;
        box-sizing: border-box;
        color: black;
        height: 60px;
        width: 300px;
    }

    .btn {
        background: #CE992F;
        border-radius: 0px 30px 30px 20px;
        width: 300px;
        height: 62px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        /* identical to box height */


        color: #000000;
    }
}

@media only screen and (max-width: 1037px) {
    .row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (min-width: 700px) {


    .banner {
        height: 747px;
    }

    .input-box {
        background: #D9D9D9;
        border: 2px solid #DDDDDD;
        border-radius: 5px;
        box-sizing: border-box;
        width: 427px;
        height: 71px;
        color: black;
        padding-left: 12px;
    }

    .btn {
        background: #CE992F;
        border-radius: 0px 30px 30px 20px;
        width: 427px;
        height: 62px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        /* identical to box height */


        color: #000000;
    }
}

.head {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 90px;

    color: #FFFFFF;
}

.f1 {
    max-width: 600px;
}

.sub-head {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    color: #EEEEEE;
}